* {
    box-sizing: border-box;
    /* max-width: 100%; */
}
@font-face {
    font-family: Akkurat;
    src: url("/fonts/Akkurat.ttf");
}

@font-face {
    font-family: SharpGrotesk;
    src: url("/fonts/SharpGroteskTRIALSmBold-25.ttf");
}
html,
body {
    margin: 0;
    padding: 0;

}

#container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url("/Images/background.png"); */
    background-repeat: no-repeat;
    background-size: contain;
}

h2{
    font-size: 39px; 
    text-align: center; 
    font-weight: 500;
}

h3{
    font-size:25px; 
    font-weight: 500;
}

h1,h2,h3,h4 {
    font-family: SharpGrotesk;
}

p,li,a{
    font-family: Akkurat;
}


p.analysis_detail{
    font-family: SharpGrotesk;
    font-size: 18px;
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
}

#maincontext {
    /* background-image: url("/Images/background.png"); */
    background-image: linear-gradient(rgba(216, 206, 200, 0.7)20%, rgba(255, 255, 255, 1)45%);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 6rem;

}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    padding: 2rem 6rem;
}

.header a{
    display: block;
    color: black;
}


h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}

h5 {
    text-align: center;
}

.header a:hover{
    color: #D64527;
    /* text-decoration: underline; */
}

.analysis1 a:hover{
    color: darkslategrey;
    text-decoration: underline;
}

.content a:hover{
    color: darkslategrey;
    text-decoration: underline;
}

.dropdown a:hover{
    color: #D8CEC8;
    text-decoration: underline;
}

/* CSS for Portion 1 */

.content{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}


.topc {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
    gap: 5rem;
}

.topLeft {
    /* display: block; */
    width: 50%;
    font-weight: 500;

}

.topRight{
    width: 50%;
}

.topRight img {
    max-width: 100%;
}

.topLeft ul {
    list-style: none;
    padding-left: 1.5rem;
}

/* .topLeft ul li{
    width: 50%;
} */

.topLeft ul li::before {
    content: "\2022";
    font-size: 1.5rem;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: #D64527
}


.topc a {
    text-decoration: none;
    font-weight: 600;
    color: #D64527;

}


.bottomc {

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* padding-left: 15rem;
    padding-right: 15rem; */
    gap: 5rem;
}

.bottomLeft {
    /* display: block; */
    width: 50%;
    font-weight: 500;


}


.bottomRight{
    width: 50%;
}

.bottomRight img {
    max-width: 100%;
}

.bottomLeft ul {
    list-style: none;
    padding-left: 1.5rem;
}

.bottomLeft ul li::before {
    content: "\2022";
    font-size: 1.5rem;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: #D64527
}

/* .bottomLeft ul li{
    width: 50%;
} */

.bottomc a {
    text-decoration: none;
    font-weight: 600;
    color: #D64527;
}

/* CSS for Form */

.formbody {
    background-color: #D64527;
    padding: 0;
    max-width: 100%;
}

input::placeholder{
    color: #D8CEC8;
    font-weight: 600;
}

select>option>{
    color: black;
}



.formhead {
    display: flex;
    width: 100%;
    justify-content: center;

}

.headcontent {
    text-align: center;
    padding-top: 2rem;
}



form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;

}


.formbody input,select {
   
    border: 2px solid #D8CEC8;
    padding: 8px;
    margin-left: 20px;
    margin-top: 20px;
    /* margin: 0%; */
    width: 467px;
    height: 45px;
    font-weight: 600;
}

input[type="text"]:focus,
input[type="email"]:focus,select:focus,input[type="tel"]:focus{
    outline: 0;
    /* background: rgb(255, 255, 255, 0.1);
    color: #D8CEC8; */
    border: 2px black solid;
}

.formbody select {
    font-weight: 600;
}

.talk {
    color: white;
    font-size: 39px;
    padding-top: 20px;
    padding-bottom: 0%;
    margin: 0%;
    font-family: SharpGrotesk;
}

.makehard {
    color: white;
    font-size: 70px;
    margin: 0%;
    font-family: SharpGrotesk;
}

.easier {
    color: black;
    font-size: 70px;
    margin: 0%;
    font-family: SharpGrotesk;
}
.formcorner{
    max-width: 100%;
}
.rightdown{
    max-width: 100%;
}

.bottomrighticon{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.formheader{
    display: flex;
    justify-content: space-between;
}

.formbody button{
    margin-top: 2%;
    background-color: black;
    color: white;
    height: 50px;
    cursor: pointer;
    width: 144px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 5%;
}

select:required:invalid {
    color: #D8CEC8;
  }

.formbody button:hover{
    background-color: white;
    color: #D64527;
    border: 1px solid black;
    transition: 0.5s;
}



/* CSS for Dropdown Information */

.solving{
    padding-top: 2.5rem;
}

#invisible1 {
    display: none;
}

#invisible2 {
    display: none;
}

#invisible3 {
    display: none;
}

#invisible4 {
    display: none;
}

#invisible5 {
    display: none;
}

.dropdown {
    border: 1px solid;
    max-width: 1390px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 100px;
    padding-right: 30px;
    /* padding-top: 0.2rem; */
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.dropdown a{
    cursor: pointer;
    display: block;
}
.fontheading {
    font-size: 20px;
    font-weight: 500;
}

.subhead {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #D64527;
}


.maindrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;
    
    padding-bottom: 2.5rem;

}



button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}


/* CSS for Footer */

.footer {
    background-color: black;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer p{
    text-align: center;
    color: white; 
    font-size: 10px;
}

.footer a{
    text-align: center;
    color: white; 
    font-size: 10px;
}
.footer a:hover{
    color: #D64527;
    text-decoration: underline;
}

.social {
    display: flex;
    justify-content: center;
}

.social a{
    display: block;
    cursor: pointer;
}

.ficon {
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
}


/* CSS for Related Analyst Materials */

.relAnalyst{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    max-width: 100%;
}

.analysthead h2 {
    font-size: 39;
    text-align: center;
    font-weight: 400;
    /* padding-top: 6rem; */
}

.analysisimage {
    max-width: 100%;
    
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;


}

.analysis1 {
    border: 1px solid;
    /* width: 330px;
    height: 420px; */
    width: 278px;
    height: 355px;
    padding: 15px;
    display: flex;
    flex-direction: column;   
}

.analysis1>div {
    max-width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}


.img1 {
    position: relative;
    opacity: 0.1;
}

.img1 {
    position: absolute;
}


.analysis_detail {
    font-weight: 500;
    font-size: 18px;
    
}

.analysis1 a{
    color: #D64527;
    font-weight: bolder;
    font-size: 14px;
    font-family: Akkurat;
    padding-left: 1rem;
}