* {
    box-sizing: border-box;
}
@font-face {
    font-family: Akkurat;
    src: url("/fonts/Akkurat.ttf");
}

@font-face {
    font-family: SharpGrotesk;
    src: url("/fonts/SharpGroteskTRIALSmBold-25.ttf");
}
html,
body {
    margin: 0;
    padding: 0;

}

.container{
    margin: 0 auto;
    max-width: 80%;
}

h2{
    font-size: 39px; 
    text-align: center; 
    font-weight: 500;
}

h3{
    font-size:25px; 
    font-weight: 500;
}

h1,h2,h3,h4 {
    font-family: SharpGrotesk;
}

p,li,a{
    font-family: Akkurat;
}


p.analysis_detail{
    font-family: SharpGrotesk;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0.5rem;
}

.maincontext {    
    background-image: linear-gradient(rgba(216, 206, 200, 0.7)20%, rgba(255, 255, 255, 1)30%);
    background-repeat: no-repeat;
}

header .container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    /* max-width: 100%; */
    align-items: center;
    padding: 2rem 0rem;
}

.header a{
    display: block;
    font-weight: 600;
    color: black;
}


h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}

h5 {
    text-align: center;
}

.header a:hover{
    color: #D64527;
    /* text-decoration: underline; */
}

.analysis1 a:hover{
    color: darkslategrey;
    text-decoration: underline;
}

.content-50-50 a:hover{
    color: darkslategrey;
    text-decoration: underline;
}

.dropdown a:hover{
    color: #D8CEC8;
    text-decoration: underline;
}

/* CSS for Portion 1 */

.Secure-Access{
    padding-top: 5rem;
    padding-bottom: 1.5rem;

}

.content-50-50{
    padding-top: 2.5rem;
    /* padding-bottom: 2.5rem; */
}


.topc {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    
    gap: 5rem;
}

.topLeft {
    width: 50%;
    font-weight: 500;

}

.topRight{
    width: 50%;
}

.topRight img {
    max-width: 100%;
}

.topLeft ul {
    list-style: none;
    padding-left: 1.5rem;
}



.topLeft ul li::before {
    content: "\2022";
    font-size: 1.5rem;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: #D64527
}


.topc a {
    text-decoration: none;
    font-weight: 600;
    color: #D64527;

}


.bottomc {

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 5rem;
}

.bottomLeft {
    width: 50%;
    font-weight: 500;


}


.bottomRight{
    width: 50%;
}

.bottomRight img {
    max-width: 100%;
}

.bottomLeft ul {
    list-style: none;
    padding-left: 1.5rem;
}

.bottomLeft ul li::before {
    content: "\2022";
    font-size: 1.5rem;
    font-weight: bolder;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    color: #D64527
}

.bottomc a {
    text-decoration: none;
    font-weight: 600;
    color: #D64527;
}

/* CSS for Form */

.formbody {
    background-color: #D64527;
    padding: 0;
    max-width: 100%;
}

input::placeholder{
    color: #D8CEC8;
    font-weight: 600;
}

select>option>{
    color: black;
}



.formhead {
    display: flex;
    width: 100%;
    justify-content: center;

}

.headcontent {
    text-align: center;
    padding-top: 2rem;
}



form {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;

}


.formbody input,select {
   
    border: 2px solid #D8CEC8;
    padding: 8px;
    margin-left: 20px;
    margin-top: 20px;
    /* margin: 0%; */
    width: 467px;
    height: 45px;
    font-weight: 600;
}

input[type="text"]:focus,
input[type="email"]:focus,select:focus,input[type="tel"]:focus{
    outline: 0;
    border: 2px black solid;
}

.formbody select {
    font-weight: 600;
}

.talk {
    color: white;
    font-size: 39px;
    padding-top: 20px;
    padding-bottom: 0%;
    margin: 0%;
    font-family: SharpGrotesk;
}

.makehard {
    color: white;
    font-size: 70px;
    margin: 0%;
    font-family: SharpGrotesk;
}

.easier {
    color: black;
    font-size: 70px;
    margin: 0%;
    font-family: SharpGrotesk;
}
.formcorner{
    max-width: 100%;
}
.rightdown{
    max-width: 100%;
}

.bottomrighticon{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.formheader{
    display: flex;
    justify-content: space-between;
}

.formbody button{
    margin-top: 2%;
    background-color: black;
    color: white;
    height: 50px;
    cursor: pointer;
    width: 144px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 5%;
}

select:required:invalid {
    color: #D8CEC8;
  }

.formbody button:hover{
    background-color: white;
    color: #D64527;
    border: 1px solid black;
    transition: 0.5s;
}



/* CSS for Dropdown Information */

.Solving-secure-challenges{
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

a {
    text-decoration: none;
    color: #D64527;
}


button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

span{
    font-family: Akkurat;
}

.accordion-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 100px;
    margin-top: 10px;
    max-width: 100%;
    width: 1390px;
    height: 82px;
    border: 1px solid black;
    /* border-bottom: none; */
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.accordion h4{
    font-size: 20px;
}

.top {
    display: inline-block;
    position: relative;
    max-width: 2rem;
    width: 100%;
    height: 2rem;
    border: 0.2rem solid #D64527;
    border-radius: 100%;
    /* margin-right: 0.75em; */
}

.top:after {
    content: '';
    display: inline-block;
    position: relative;
    margin-top: 0.4rem;
    margin-left: 0.45rem;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 0.2rem solid #D64527;
    border-right: 0.2rem solid #D64527;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.active .top{
    background-color: #D64527;
}

.active .top:after {
    content: '';
    display: inline-block;
    margin-top: 0.6rem;
    margin-left: 0.45rem;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 0.2rem solid white;
    border-right: 0.2rem solid white;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.accordion-heading {
    font-family: SharpGrotesk;
}

.active {
    background-color: black;
    color: white;
}

.panel {
    max-width: 100%;
    width: 1390px;
    padding: 0px 100px;
    font-size: 18px;
    max-height: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    transition: max-height 0.3s ease-out;
    font-size: 16px;
}

.panel p{
    margin-top: 0;
}
.panel a{
    font-weight: 600;
}

.panel a:hover{
    color: #D8CEC8;
    text-decoration: underline;
}

/* CSS for Footer */

.footer {
    background-color: black;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer p{
    text-align: center;
    color: white; 
    font-size: 10px;
}

.footer a{
    text-align: center;
    color: white; 
    font-size: 10px;
}
.footer a:hover{
    color: #D64527;
    text-decoration: underline;
}

.social {
    display: flex;
    justify-content: center;
}

.social a{
    display: block;
    cursor: pointer;
}

.ficon {
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
}


/* CSS for Related Analyst Materials */


.Related-analyst-materials{
    padding-top: 2.5rem;
    padding-bottom: 8rem;

}

.analysthead h2 {
    font-size: 39;
    text-align: center;
    font-weight: 400;
}

.analysisimage {
    max-width: 100%;
    
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;


}

.analysis1 {
    border: 1px solid;
    /* width: 330px;
    height: 420px; */
    width: 278px;
    height: 355px;
    padding: 15px;
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
}

.analysis1>div {
    max-width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analysis1>div img{
    max-width: 100%;
}

.img1 {
    position: relative;
    opacity: 0.1;
}

.img1 {
    position: absolute;
}


.analysis_detail {
    font-weight: 500;
    font-size: 18px;
    
}

.analysis1 a{
    color: #D64527;
    font-weight: bolder;
    font-size: 14px;
    font-family: Akkurat;
    padding-left: 0.5rem;
    position: absolute;
    margin-top: 19rem;
}
